.chatAreaWrapper{
    display: block;
    position: absolute;
    width: calc(100% - 120px);
    height: calc(100% - 82px);
    top:82px;
    margin: 0 auto 0 120px;
}

.chatArea{
    display: block;
    position: relative;
    width: 100%;
    height: calc(100% - 64px);
    background: #222222;
    margin-top: 0;
}
.messageList{
    position: absolute;
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    overflow: scroll;
}
.messageElement{
    width: 95%;
    height: auto;
    margin: 10px auto 10px;
    border-radius: 4px;
    background: #555555;
}
.messageElementProfile{
    margin: 0;
    width: 200px;
    color: #dddddd;
    font-weight: bold;
}
.messageElementDate{
    margin: 0;
    width: 200px;
    color: #bbbbbb;
}
.messageContent{
    margin: 5px auto 0;
    padding-bottom: 5px;
    color: #ffffff;
}
.messageElementReSendButton{
    position: absolute;
    display: none;
    float: left;
    left: 224px;
    transform: translateY(-30px);
    width: 70px;
    height: 30px;
    line-height: 30px;
    background: #888888;
    border: solid 2px #555555;
    border-radius: 4px;
    box-shadow: 0px 0px 1px 1px #444444;
    color: #444444;
    text-align: center;
    transition: border-radius 0.6s, background 0.6s;
}
.messageElementReSendButton.show{
    display: block;
}
.messageElementReSendButton.show:hover{
    border-radius: 15px;
}
.messageElementReSendButton.show:active{
    background: #aaaaaa;
}

.chatAreaInputWrapper{
    display: block;
    position: relative;
    width: 100%;
    height: 64px;
}
.messageTextArea{
    position: relative;
    width: calc(100% - 106px);
    height: 60px;
    background: #333333;
    color: #aaaaaa;
    font-size: 1.0em;
    resize: none;
    padding: 1px;
    float: left;
    outline: none;
    border: 1px solid #777777;
    border-radius: 2px;
}
.sendMessageButton{
    position: fixed;
    width: 100px;
    bottom:0;
    right: 0;
    background: #444444;
    color: #888888;
    height: 62px;
    line-height: 62px;
    text-align: center;
    border: 1px solid #333333;
}