.elementLoader{
    width: 16px;
    height: 16px;
    display: none;
    margin: auto;
    position: relative;
    top:-74px;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.elementLoader.show{
    display: block;
}


.addElementLoader{
    width: 16px;
    height: 16px;
    display: none;
    margin: auto;
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

.addElementLoader.show{
    display: block;
}