.listFriendRequestDialog{
    position: absolute;
    display: block;
    width: 400px;
    height: 600px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 4px #555555;
    background: #333333;
}

.listFriendRequestDialog-title{
    margin: 0;
    padding-top: 10%;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: #aaaaaa;
}

.friendRequestList{
    list-style: none;
    overflow: scroll;
    width: 100%;
    height: 70%;
    padding:0;
}
.requestElement{
    margin: 10px 10px 10px;
    height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    background: #777777;
}
.requestFriendId{
    position: relative;
    font-size: 16px;
    line-height: 30px;
    height: 30px;
    width: 100%;
}

.FriendShipButton{
    position: relative;
    top:-46px;
    left: calc(100% - 100px);
    width: 50px;
    height: 30px;
}