html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #7872ff;
}
.hide-page{
    z-index: 2;
    width: 100%;
    height: 100%;
    background: #000000;
    display: none;
    opacity: 0.8;
    position: fixed;
}
.hide-page.on{
    display: block;
}
.login-form-wrapper{
    width: 50%;
    height: 90%;
    display: block;
    position: relative;
    background: #6064ff;
    margin: auto;
    transform: translateY(calc(5%));
}

.login-form{
    position: relative;
    width: 100%;
    height: calc(100% - 40px);
    top: 40px;
}

.title{
    display: block;
    position: absolute;
    color: #ffffff;
    width: 100%;
    height: 40px;
    font-size: 40px;
    text-align: center;
    margin: auto;
    transform: translateY(calc(100% - 40px));
}
.input-wrapper{
    position: relative;
    width: 100%;
    height: 60px;
    margin: auto;
    background: #00000000;
    top:calc(50% - 60px);
    transform: translateY(calc(-50% - 60px));
}
.input-title{
    width: 100%;
    padding-left: 5%;
    margin: 5px auto 5px auto;
    height: 20px;
    font-size: 20px;
    color: #e6ffff;
}
.user-input{
    position: relative;
    width: 90%;
    background: #004ba0;
    color: #3fe6ff;
    margin: auto 5% auto 5%;
    font-size: 30px;
    border: 0px none;
    border-radius: 4px;
}
.display-button{
    display: block;
    position: relative;
    width: 90%;
    height: 50px;
    font-size: 30px;
    color: #e6ffff;
    margin: 10% auto auto auto;
    top: calc(50% - 60px);
    border: 0px none;
    background: #2962ff;
    box-shadow: 0px 0px 3px 0px #333333;
    border-radius: 4px;
    transform: translateY(calc(-50% - 60px));
}

.display-button:hover{
    background: #2196f3;
}
.display-button:active{
    background: #1337bf;
}