.addFriendDialog{
    position: absolute;
    display: block;
    width: 400px;
    height: 500px;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    border-radius: 4px;
    box-shadow: 0px 0px 8px 4px #555555;
    background: #333333;
}

.addFriendDialog input{
    position: absolute;
    display: block;
    top:20%;
    left: 0;
    bottom: 0;
    right: 0;
    width: 80%;
    margin: 0px auto 0px;
    background: #aaaaaa;
    border-style: none;
    box-shadow: 0px 0px 1px 1px #ffffff;
    color: #333333;
    height: 40px;
}

.searchUserButton{
    position: absolute;
    display: block;
    top:20%;
    left:calc(80% - 32px);
    bottom: 0;
    right: 0;
    width: 30px;
    margin: 0px auto 0px;
    background: #aaaaaa;
    border-style: none;
    box-shadow: 0px 0px 1px 1px #ffffff;
    color: #333333;
    font-size: 10px;
    height: 42px;
    line-height: 42px;
    text-align: center;
}
.searchUserButton:hover{
    background: #888888;
}
.searchUserButton:active{
    background: #cccccc;
}
.searchUserResult{
    position: absolute;
    display: block;
    top:30%;
    left: 0;
    right: 0;
    bottom: 0;
    width: 80%;
    margin: 0 auto 0;
    background: #aaaaaa;
    box-shadow: 0px 0px 1px 1px #ffffff;
    color: #333333;
    height: 40px;
    line-height: 10px;
}

#searchUserResult{
    padding: 0;
    display: inline-block;
}

#searchUserResult.dismiss.show{
    display: none;
}

#searchUserResult.show{
    display: inline-block;
}

.addFriendDialog-title{
    margin: 0;
    padding-top: 10%;
    font-size: 16px;
    width: 100%;
    text-align: center;
    color: #aaaaaa;
}
