.Dialog-button{
    display: block;
    position: absolute;
    width: 100px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    border: 1px slategray;
    box-shadow: 0px 0px 1px 1px #444444;
    background: #555555;
    color: #aaaaaa;
    transition: background 0.5s;
}
.Dialog-button:hover{
    background: #777777;
}
.Dialog-button:active{
    background: #222222;
}

.confirmButton{
    float: left;
    top:calc(100% - 100px);
    left:calc(50% - 150px);
}

.cancelButton{
    float: left;
    top:calc(100% - 100px);
    left:calc(50% + 50px);
}