.roomArea{
    position: relative;
    display: block;
    float: left;
    width:120px;
    height: 100%;
    background: #333333;
    overflow: scroll;
}
.profile{
    display: block;
    text-align: center;
    padding: 16px;
    margin: 0px auto 10px;
    text-decoration: none;
    line-height: 50px;
    font-size: 10px;
    background: #111111;
    color: #ffffff;
}
.openFriendMenuButton{
    display: block;
    text-align: center;
    padding: 16px;
    margin: 10px auto 10px auto;
    text-decoration: none;
    font-size: 12px;
    width: 50px;
    height: 25px;
    line-height: 25px;
    background: #232323;
    color: #ffffff;
}
.roomList{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.roomButton{
    display: block;
    margin: 10px auto;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 50px;
    font-size: 16px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #222222;
    color: #ffffff;
}
.roomButton:hover{
    background: #555555;
}
.roomButton:active{
    background: #888888;
}
.roomButton.selected{
    background: #888888;
}


.createRoomButton{
    display: block;
    text-align: center;
    padding: 16px;
    margin: 0px auto 10px auto;
    text-decoration: none;
    line-height: 50px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #111111;
    color: #ffffff;
    font-size: 16px;
}

.createRoomButton:hover{
    background: #555555;
}
.createRoomButton:active{
    background: #888888;
}