html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.loader{
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
    position: relative;
    top:calc(25% - 52px);
    border: 52px solid #f3f3f3;
    border-top: 52px solid #3498db;
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}